{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block title %}Bulk Add Drawings{% endblock %}
{% block extra_head %}
    <style>
        img {
                max-height: 13em;
                padding: 3px;

            }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div ng-app="bulkAdd" ng-controller="AddController" id="content">
        <form>

            <div class="form-group row">
            <label for="exampleInputFile">File input</label>
            <input type="file"
                   id="exampleInputFile"
                   webkitdirectory
                   mozdirectory
                   onchange="angular.element(this).scope().handleDirectoryChoice(this)">
            <p class="help-block">Choose a directory.</p>
            </div>

            <div class="form-group row" ng-show="drawings.length > 0">
                <h3>Change all</h3>
                <div class="col-xs-4">

                </div>

                <div class="col-xs-4">
                    <select
                            ng-options="nb.pk as nb.pk for nb in notebooks"
                            ng-model="globalNotebook"
                            ng-change="updateAllNotebooks(this)">
                    </select>
                </div>

                <div class="col-xs-4">
                    <div ng-repeat="group in groups">
                        <input
                               type="checkbox"
                               ng-model="globalGroups[group.pk]"
                               name="{[{ group.pk }]}"
                               value="{[{ group.pk }]}"
                               ng-change="updateAllGroups(this)"> {[{ group.pk }]}<br>


                    </div>
                </div>
            </div>

            <div ng-repeat="d in drawings">
                <div class="form-group row">
                    <div class="btn-group" ng-show="!d.shouldSave">
                        <button type="button" class="btn btn-default" ng-click="d.shouldSave = true;">Undo</button>
                    </div>
                </div>
                <div class="form-group panel panel-default" ng-show="d.shouldSave">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Title: <input type="text" value="{[{ d.title }]}" ng-model="d.title"> <button type="button" class="close"
                            ng-click="d.shouldSave ? d.shouldSave = false : d.shouldSave = true;">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                        </h3>



                    </div>

                    <div class="panel-body">
                        <div class="row">

                            <div class="col-xs-4">

                                <img src="{[{ d.data }]}">
                            </div>

                            <div class="col-xs-3">
                                <label>Notebook</label><br>
                                <select
                                        ng-options="nb.pk as nb.pk for nb in notebooks"
                                        ng-model="d.notebook">
                                </select>
                            </div>

                            <div class="col-xs-3">
                                <label>Groups</label>
                                <div ng-repeat="group in groups">
                                    <input
                                           type="checkbox"
                                           ng-model="d.groups[group.pk]"
                                           name="{[{ group.pk }]}"> {[{ group.pk }]}<br>
                                </div>

                            </div>

                            <div class="col-xs-2">
                                <input type="checkbox" ng-model="d.favorite"> notebook favorite?

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-12">
                                {[{ d | json }]}
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </form>
    </div>
</div>

{% endblock %}

{% block bootstrap3_extra_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="{% static 'js/bulk-add.js' %}"></script>

{% endblock %}