{% extends 'base.html' %}

{% block title %}Deluxe Nation{% endblock %}


{% block extra_head %}
    <style>
    .drawing {
        height: 24em;
{#        border: 3px solid pink;#}

    }

    .row {
        padding: 1em 0em 1em 0em;
    }

    </style>
{% endblock %}


{% block content %}
    {% load static from staticfiles %}


    <div class="container">
        <div class="row" >
                {% for drawing in drawings %}

                    <div class="col-xs-12 col-lg-3">
                        <img class="drawing" src="{{ drawing.image.url }}" alt="An Image from {{ nb.title }}">
                    </div>

                    {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row">
                    {% endif %}

                {% endfor %}
        </div>
    </div>

{% endblock %}

{% block bootstrap3_extra_script %}
{% endblock %}